@import url('https://fonts.googleapis.com/css2?family=REM:wght@200;300;400;600;700&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


body {
    font-family: 'REM', sans-serif;
}
.title {
    background-image: linear-gradient(to bottom, gray, #000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .addsticky{
    padding:10px 0;
    background: #12a85c !important; 
    z-index: 40;
    filter: brightness(1.1);
    transition:all 0.5s
}
.navbar.addsticky ul li a {
    color:white
}
.navbar.addsticky ul li a:hover{
    color:black;
    transition: all .3s
}


