@import url('https://fonts.googleapis.com/css2?family=REM:wght@200;300;400;600;700&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


body {
    font-family: 'REM', sans-serif;
}
.title {
    background-image: linear-gradient(to bottom, gray, #000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .addsticky{
    padding:10px 0;
    background: #12a85c !important; 
    z-index: 40;
    filter: brightness(1.1);
    transition:all 0.5s
}
.navbar.addsticky ul li a {
    color:white
}
.navbar.addsticky ul li a:hover{
    color:black;
    transition: all .3s
}
/* //Modal */
 /* Styles pour la modale et l'arrière-plan obscurci */
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;

}

.modal-content {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    height:80%;
}

.close {
    float: right;
    cursor: pointer;
}



